@import "tailwindcss";

@source "../**/*.{ts,tsx}";
@source "../../auth/components/**/*.{ts,tsx}";

@import "tw-animate-css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.984 0.0022 247.84);
  --base-100: oklch(0.9687 0.0051 247.88);
  --base-200: oklch(0.929 0.0095 255.53);
  --base-300: oklch(0.869 0.016 252.91);
  --base-400: oklch(0.704 0.0291 256.81);
  --base-500: oklch(0.554 0.0335 257.44);
  --base-600: oklch(0.446 0.0313 257.3);
  --base-700: oklch(0.372 0.0321 257.31);
  --base-800: oklch(0.279 0.0299 260.05);
  --base-900: oklch(0.208 0.0306 265.77);
  --base-950: oklch(0.129 0.0306 264.71);
  --base-1000: oklch(0.078 0.0306 264.02);

  --primary-50: oklch(0.9797 0.0095 159.88);
  --primary-100: oklch(0.9564 0.0234 159.23);
  --primary-200: oklch(0.9164 0.0434 159.21);
  --primary-300: oklch(0.8603 0.0731 158.6);
  --primary-400: oklch(0.781 0.0975 156.24);
  --primary-500: oklch(0.7122 0.0991 154.66);
  --primary-600: oklch(0.6147 0.0867 154.73);
  --primary-700: oklch(0.5315 0.0694 156.19);
  --primary-800: oklch(0.4416 0.0544 157.47);
  --primary-900: oklch(0.387 0.0436 159);
  --primary-950: oklch(0.2643 0.0295 160.27);
  --primary-1000: oklch(0.1845 0.0202 160.95);

  --secondary-50: oklch(0.9755 0.0049 330.01);
  --secondary-100: oklch(0.9512 0.0104 328.92);
  --secondary-200: oklch(0.902 0.0219 329.77);
  --secondary-300: oklch(0.8292 0.0422 332);
  --secondary-400: oklch(0.7308 0.07 333.6);
  --secondary-500: oklch(0.6624 0.0855 334.26);
  --secondary-600: oklch(0.5748 0.0862 336.52);
  --secondary-700: oklch(0.5211 0.0755 338.14);
  --secondary-800: oklch(0.4552 0.0631 338.88);
  --secondary-900: oklch(0.4042 0.0512 339.72);
  --secondary-950: oklch(0.2893 0.0391 340.38);
  --secondary-1000: oklch(0.2146 0.0313 340.82);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-700);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-700);
  --chart-1: var(--primary-700);
  --chart-2: var(--secondary-600);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.3rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-700);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-700);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-700);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-700);
  --chart-1: var(--primary-700);
  --chart-2: var(--secondary-600);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-700);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-700);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by sbrubbles-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted-foreground);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-muted-foreground);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-muted-foreground);
  --tw-prose-invert-links: var(--color-primary);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-muted-foreground);
  --tw-prose-invert-quotes: var(--color-muted-foreground);
  --tw-prose-invert-quote-borders: var(--color-border);
  --tw-prose-invert-captions: var(--color-muted-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-background);
  --tw-prose-invert-th-borders: var(--color-border);
  --tw-prose-invert-td-borders: var(--color-border);
}
